body {
    background-image: url(https://images2.laweekly.com/imager/fake-la-subway-map-what-los-angeles-wou/u/original/4241907/fake_la_transit_map.jpg)
}

.page-header {
    background: black;
    color: white;
    text-align: center;
    
}
